# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
dist/
build/

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
staticfiles/
media_root/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environment Variables
.en
